{
    'social': 
        {
            'preprocess_data.py':
                {
                    'mode': 'manual',
                    'dpath': '/Users/DB/Development/Monkey_frog/data/social/TDT-LockinRX8-22Oct2014_20-4-15_DT1_04171819',
                    'signal_channel': 'LMag 1',
                    'reference_channel': 'LMag 2'
                },
            'align_data.py':
                {
                    'analysis_blocks': 
                        [    
                            {
                                'epoch_name': 'active',
                                'event': 'active',
                                'save_file_as': '99493_social_active_2_19_defaultpreprocess',
                                'prewindow': 3,
                                'postwindow': 3,
                                'z_score_window': [],
                                'window_type': 'event',
                                'clip': False,
                                'to_csv': True,
                                'plot_parameters': 
                                    {
                                        'save_plot': True,
                                        'color': 'b',
                                        'alpha': 0.1,
                                        'plot_events': [0],
                                        'sem': True,
                                        'xmin': None,
                                        'xmax': None,
                                        'ymin': None,
                                        'ymax': None,
                                        'smoothing_window': 500,
                                        'plot_reference': True
                                    }
                            }
                        ],
                    'dpath': '/Users/DB/Development/Monkey_frog/data/social/TDT-LockinRX8-22Oct2014_20-4-15_DT1_04171819'
                },
            'process_signal.py':
                {
                    'analysis_blocks': 
                        [
                            {
                                'load_file': '99493_social_active_2_19_defaultpreprocess',
                                'save_file_as': '99493_social_active_2_19_defaultpreprocess_processed',
                                'z_score_window': [-3, -1],
                                'to_csv': True,
                                'downsample': 10,
                                'quantification': 'mean', # options are AUC, median, and mean
                                'baseline_window': [-3,-2],
                                'response_window': [-1, 0]
                            }
                        ],
                    'dpath': '/Users/DB/Development/Monkey_frog/data/social/TDT-LockinRX8-22Oct2014_20-4-15_DT1_04171819/'
                }
        },
    'ttl':
        {
            'preprocess_data.py':
                {
                    'mode': 'TTL',
                    'dpath': '/Users/DB/Development/Monkey_frog/data/KN_newRigData/RS/12/FirstFibPho-180817-160254/',
                    'signal_channel': '465A 1',
                    'reference_channel': '405A 1'
                },
            'align_data.py':
                {
                    'analysis_blocks': 
                        [    
                            {
                                'epoch_name': 'active',
                                'event': 'active',
                                'save_file_as': '99493_social_active_2_19_defaultpreprocess',
                                'prewindow': 3,
                                'postwindow': 3,
                                'z_score_window': [],
                                'window_type': 'event',
                                'clip': False,
                                'to_csv': True,
                                'plot_parameters': 
                                    {
                                        'save_plot': True,
                                        'color': 'b',
                                        'alpha': 0.1,
                                        'plot_events': [0],
                                        'sem': True,
                                        'xmin': None,
                                        'xmax': None,
                                        'ymin': None,
                                        'ymax': None,
                                        'smoothing_window': 500,
                                        'plot_reference': True
                                    }
                            }
                        ],
                    'dpath': '/Users/DB/Development/Monkey_frog/data/social/TDT-LockinRX8-22Oct2014_20-4-15_DT1_04171819'
                },
            'process_signal.py':
                {
                    'analysis_blocks': 
                        [
                            {
                                'load_file': '99493_social_active_2_19_defaultpreprocess',
                                'save_file_as': '99493_social_active_2_19_defaultpreprocess_processed',
                                'z_score_window': [-3, -1],
                                'to_csv': True,
                                'downsample': 10,
                                'quantification': 'mean', # options are AUC, median, and mean
                                'baseline_window': [-3,-2],
                                'response_window': [-1, 0]
                            }
                        ],
                    'dpath': '/Users/DB/Development/Monkey_frog/data/social/TDT-LockinRX8-22Oct2014_20-4-15_DT1_04171819/'
                }
        }
}